.search {
  width: 200px;
  height: 50px;
  font-size: 24px;
}

/* .search-container {
  margin-top: 200px;
} */

.inputBox {
  width: 170px;
  overflow: scroll;
}

.text-cell {
  width: 170px;
  height: 121px;
}

.text-cell button {
  margin-top: 5px;
}

td button {
  height: 37px;
  border-radius: 12px;
}

textarea,
.textPlaceholder {
  height: 100px;
  border: 1px solid black;
  padding: 0px;
}

table {
  border: 2px solid black;
  /* height: 400px; */
  /* max-width: 80%; */
  margin: 10px auto;
  /* overflow-x: scroll; */
  table-layout: fixed;
  /* max-width: 500px; */
  min-width: 500px;
}

table th {
  padding: 5px 10px;
  background-color: #a0e2a0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #ddd;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 720px) {
  .text-cell,
  .inputBox {
    width: 70px;
  }

  td {
    width: 80px;
  }
}
